html{
    font-size: 32px;
}
body{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(246, 255, 121, 0.842);
}

a{
    color: red;
    font-size: 1rem;
}

#container{
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;

    color:white;

    background-color: red;
    border-radius: 10px;
    
    width: 50%;
    overflow: hidden;
}
form label{
    padding: 8px 32px;
    text-align: center;
}
form input{
    width: 100%;
    padding: 8px 32px;
    border:0;

    background-color: black;
    color: white;

}
form button{
    width: 100%;
    padding: 16px 32px;
    border: 0;
    font-weight: bold;
}

#resultado{
    display: flex;
    justify-content: space-between;

    width: 50%;
    border-radius: 10px;

    background-color: rgb(226, 43, 43);
    color: white;
}

#resultado .mudar{
    padding: 32px 8px;
    border: 0;
    color: white;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
}

#exibir{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    padding: 12px 32px;

}

#exibir img{
    background-color: rgb(169, 248, 244);
    border-radius: 50%;
    border: 1px solid black;
}

#exibir h2{
    font-size: 0.6rem;
}

#exibir h3{
    font-size: 0.5rem;
}

#exibir button{
    padding: 8px 32px;
}

@media (max-width: 800px){
    html{
        font-size: 16px;
    }

    #container{
        width: 80%;
    }
}


